body{
    background: white;
}

p{
    color:black;
}

.presentationMain{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.FOOTER *, .projets, .navbar, img, h2.presentation, .presentationMain .noPrint, .diplomes table tr a{
    display: none;
}

.diplomes table tr th, .diplomes table tr td, .competences table tr th, .competences table tr td{
    font-size: 1rem;
}

.diplomes table caption, .competences table caption{
    font-size: 1.5rem;
}

.competences td, .diplomes td, .diplomes th, .diplomes table tr th.obtention{
    padding:0px;
}

.presentationMain .print{
    display: unset;
}