body{
    background: white;
}

p, h1, h2{
    color:black;
}

h2.presentation{
    padding-top: 0px;
}

.presentationMain{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.FOOTER *, .projets, .navbar, img{
    display: none;
}

.diplomes table tr th, .diplomes table tr td, .competences table tr th, .competences table tr td{
font-size: 1rem;
}

.competences td, .diplomes td, .diplomes th, .diplomes table tr th.obtention{
    padding:0px;
}